@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-Bold.woff2') format('woff2'),
        url('SeravekBasic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-BoldItalic.woff2') format('woff2'),
        url('SeravekBasic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-Regular.woff2') format('woff2'),
        url('SeravekBasic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-ExtraLight.woff2') format('woff2'),
        url('SeravekBasic-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-ExtraLightItalic.woff2') format('woff2'),
        url('SeravekBasic-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-RegularItalic.woff2') format('woff2'),
        url('SeravekBasic-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-Light.woff2') format('woff2'),
        url('SeravekBasic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-LightItalic.woff2') format('woff2'),
        url('SeravekBasic-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-Medium.woff2') format('woff2'),
        url('SeravekBasic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Seravek Basic';
    src: url('SeravekBasic-MediumItalic.woff2') format('woff2'),
        url('SeravekBasic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

